.container{
    display: flex;
    flex:1;
    flex-direction: column;
    height: 80vh;
    width:100%;
    /* border: 2px solid; */
    /* justify-content: space-between;
    align-items: center;*/
    padding: 5px; 

}
.top{
    display:flex;
    flex:0.5;
    flex-direction: row;
    /* border: 2px solid; */
    /* align-items: center;
    justify-content: center; */

}


.left{
    display:flex;
    flex:0.5;
    flex-direction: column;
    padding: 3%;
    /* gap: 1%; */

}

.content{
    display: flex;
    flex:0.1;
    padding: 4px;
    font-size: 25px;

}
.content1{
    display: flex;
    flex:0.1;
    /* border: 2px solid; */
    gap:2%;
     padding:5px;

}
.content2{
    display: flex;
    flex:0.1;
    color: rgb(218, 69, 119);
    gap:2%;
    padding:10px;

} 
.right{
    display:flex;
    flex:0.3;
    flex-direction: column;
    /* border: 2px solid; */
    /* padding:90px; */
    padding-top: 3%;
    /* gap:4%; */
     

}
.right1{
    display:flex;
    flex:0.01;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(253, 226, 230);
    box-shadow:0 8px 20px rgba(0,0,0,0.08) ;
    border-radius: 3px;
    /* gap:4%; */
    padding:3%;
        
} 
.r1{
    display:flex;
    flex:0.1;
    flex-direction: row;
    color:rgb(224, 79, 128);
    font-size: 15px;
    padding: 2%;
    gap:5%;
}
.r2{
    display:flex;
    flex:0.01;
    flex-direction: row;
    font-size: 12px;
    padding: 2%;
    font-size: 15px;
}


